# Ignore Python cache files
_pycache_/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment (if created locally)
venv/
.env

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore version control
.git
.gitignore

# Ignore IDE/editor files
.vscode/
.idea/
*.swp

service-account.json